:root{
    --dark: #1C294A;
    --light: #C0BADC;   
}

html{
    font-size: 50px;
}

body{
    background: var(--light);
    color: var(--dark);
    margin: 0;
    overflow-y: scroll;
}

.icon-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
}

.icon-header i{
    font-size: 100px;
    text-decoration: none;
    color: var(--dark);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.header i {
    font-size: larger;
    text-decoration: none;
    color: var(--light);
}

.header a{
    margin-right: 60px;
}

.right{
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

* {
    font-family: 'Open Sans';
    font-style: normal;
}
.light { 
    font-weight: 300;
}
.regular { 
    font-weight: 400;
}
.semibold { 
    font-weight: 600;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.color-picker {
    width: 350px;
    height: 100px;
}

.button {
    background-color: var(--dark);
    border: none;
    color: var(--light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    display: block;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}

.small-button{
    background-color: var(--dark);
    border: none;
    color: var(--light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    display: block;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}
  
.logo{
    font-size: 250px;
}

.button i{
    font-size: 70px;
}

.item{
    display: inline-block;
    width:350px;
    height:350px;
    margin: 40px;
    text-align: center;
    line-height: 100px;
    background:var(--light);
    border-color: var(--dark);
    border-radius: 20%;
    border-style:solid;
    border-width: 10px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 150px 10px 10px;
}

a{
    text-decoration: none;
}