html{
    font-size: 50px;
}

body{
    background: #C0BADC;
    color: #1C294A;
}

* {
    font-family: 'Open Sans';
    font-style: normal;
}
.light { 
    font-weight: 300;
}
.regular { 
    font-weight: 400;
}
.semibold { 
    font-weight: 600;
}

h1, p{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.button {
    background-color: #1C294A; /* Green */
    border: none;
    color: #C0BADC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
    display: block;
    width: fit-content;
    border-radius: 10px;
}
  
.logo{
    font-size: 250px;
}

.button-icon{
    font-size: 60px;
}

a{
    color: rgba(0, 0, 0, 0);
}